* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  scroll-behavior: smooth;
}

#about-us {
  width: 100vw;
  padding: 50px 5vw;
}

// /* .nav-scrolling {
//   background-color: lightseagreen;
// } */