#header {
  position: sticky;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr 50px;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 0 10px;
  z-index: 25;
  transition: all 200ms ease-out;
  #logo {
    margin: 0 auto;
  }
  a {
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #333, 1px 1px 0 #333;
    padding: 0 10px;
  }
}
#mobile-nav {
  display: block;
  z-index: 3;
}
#desktop-nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  #header {
    padding: 0 20px;
    grid-template-columns: 50px 1fr 4fr;
    color: white;
  }
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
    text-align: right;
  }
}